.centerFlex {
    margin-top: 2%;
    align-items:center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    /*margin-bottom: 5%;*/
    /*height:100%;*/
  }

.formContainer{
padding: 2% 5% 2% 5%;
border:2px solid red;
}

.mb-3 input{
    width:15em;
    background-color: white;
}

.mb-3 input:hover{
    background-color: white;
}

input{
    width:100%;
    background-color:bisque;
    height:2.3em;
   border:1px solid black;
}

input:hover{
    background-color: darksalmon;
}


input:focus{
border-color:  blue;
border-width: 1.5px;
outline: none;
}


select{
    width: 100%;
}

body{
    height:100%;
}