body,
section,
.sub-header {
  margin-left: 150px;
}

/*GOToTop button*/
#myBtn {
  position: fixed;
  bottom: 20px;
  right: 120px;
  z-index: 99;
  font-size: 18px;
  border-radius: 50%;
  width: 60px;
  outline: auto;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 15px;
}

#myBtn:hover {
  background: silver;
  color: black;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
/* Sub Header Style */
.sub-header {
  max-width: 1200px;
  border-width: 15px;
  right: 100px;
  height: 60px;
  line-height: 46px;
  text-align: center;
}
.sub-header ul {
  color: #1e1e1e;
  text-align: left;
}
.sub-header ul li {
  display: inline-block;
}
.sub-header ul.left-info li {
  border-left: 1px solid rgba(250, 250, 250, 0.3);
  padding: 0px 20px;
}
.sub-header ul.left-info li:last-child {
  border-right: 1px solid rgba(250, 250, 250, 0.3);
}
.sub-header ul.left-info li i {
  margin-right: 10px;
  font-size: 15px;
}
.sub-header ul.left-info li b {
  font-size: 15px;
}
.sub-header ul.left-info li a {
  color: #1e1e1e;
  font-weight: 600;
  text-decoration: none;
}
.sub-header ul.left-info li a:hover {
  background-color: #1e1e1e;
  color: silver;
  box-shadow: 0 0 5px silver;
}
